.heading{
    font-size: 25;
}

.snap:hover{
    background-color: darkmagenta;
    border-color: magenta;
}

.heading:hover{
    background-color: darkgreen;
    border-color:green;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}